/*Overall classes*/
.font-size-20{font-size: 20px;}
.font-size-30{font-size: 30px;}
.font-size-40{font-size: 40px;}
.inline{display: inline ;}
.inline-block{display: inline-block;}
.text-uppercase{text-transform: uppercase;}
.text-centre{text-align: center;}
.text-justify{text-align: justify;}
.text-right{text-align: right;}
.border-box{box-sizing: border-box;}
.pad-10{padding: 10px;}
.pad-20{padding: 20px;}
.fixed{position: fixed;}
.flex-box{display: flex;}
.grid{display: grid;}
.items-centre{align-items: center;}
.content-end{justify-content: end;}
.content-space-around{justify-content: space-around;}
.content-space-between{justify-content: space-between;}
.margin-centre{margin: auto auto;}
.frame{border: black 1px solid;}
.w-100{width: 100%;}
.h-100{height: 100%;}
.pos-absolute{position: absolute;}
.pos-static{position: static;}
.section-container{box-sizing: border-box;}
.text-indent-30{text-indent: 30px;}
.section-header{
  border-bottom: solid black 1px;
  margin-left: 5px;
  margin-right: 5px;
}
/*Slideshow Buttons*/
.slideshow-button-prev, .slideshow-button-next {
  cursor: pointer;
  position: absolute;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 50;
}

/*Exstra info*/
#extra-info-container{
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 110;
}
#extra-info-bg{
  background: gray;
  opacity: 75%;
  position: absolute;
  width: 100%;
  height: 100%;
}
#extra-info-container.extra-info-active{
  display: flex;
}
#extra-info-image-container{
  width: 90%;
  z-index: 120;
  position: relative;
}
#extra-info-image{
  width: inherit;
  display: block;
  margin: auto; 
  box-shadow: 0 0 7px 10px gray;
  aspect-ratio: 2/3;
}
#extra-info-cross{
  width: 50px;
  height: 50px;
}
#extra-info-close{
  position: absolute;
  top:-20px;
  right:0px;
  background:rgb(128,128,128,0.9);
  border-radius: 50%;
}

/*Standart elem modification*/
h2{margin:0;}
p{margin:10px 0;}
ul{list-style: none;padding: 10px;}
input{width: 100px;}
section:not(section#banner, section#top, section#extra-info-container){
  margin: 20px auto;
}

/*-----Header section-----*/
header{
  height: 100vh;
  grid-template-rows: 120px auto;
  grid-template-columns: 1fr;
}
/*---Top section + navbar---*/
#top{
  background: lightblue;
  min-height: 120px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

#top-nav{
  background: lightblue;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
}
.logo {
  background-color: blue;
  width: 100px;
  height: 100px;
}
#navigation{
  grid-auto-flow: column;
}
.navigation-item{
  padding-left: 10px;
  padding-right: 10px;
}
.navigation-item a{
  text-decoration: none;
  color:black;
}
.navigation-item:nth-child(even){
  border-left: black 1px solid;
  border-right: black 1px solid;
}
.navigation-image{
  height: 50px;
  width: 50px;
  display: none;
}
#navigation-menu-button{
  display: none;
  height: 50px;
}
.dropdown{
  display: none;
}
.navigation-item.has-dropdown:hover > .dropdown{
  display: block;
}
.dropdown{
  display: none;
  position: fixed;
  background: white;
  text-align: end;
}
.dropdown-button{
  display: none;
  background: none;
  border: 0;
}

@media screen and (max-width:600px) {
  #top{
    display: block;
    min-height: 60px;
  }
  header{
    height: 70vh;
    grid-template-rows: 60px auto; 
  }
  .navigation-item a{
    color:gray;
  }
  #top-nav{
    font-size: 15px;
    padding: 0;
    flex-direction: column;
    justify-content: end;
    align-items: end;
  }
  .logo{
    display: none;
  }
  .navigation-item{
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding:5px;
  }
  .navigation-item:nth-child(even){
    border-right: none;
    border-left: none;
  }
  .navigation-item{
    border-bottom: solid black 1px;
    text-align: end;
  }
  #navigation{
    display: none;
    flex-direction: column;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
  }
  #navigation-menu-button{
    display: block;
  }
  .navigation-item.has-dropdown:hover > .dropdown{
    display: block;
  }
  .dropdown{
    display: none;
    position: static;
    background: none;
    text-align: end;
    padding: 0;
  }
  .dropdown > * {
    padding: 3px;
  }
  .dropdown-button{
    display: inline-block;
  }
}
/*Top---*/

/*---Banner section---*/
#banner {
  grid-row: 2;
  background-color: blue;
  box-sizing: border-box;
  position: relative;
}
#banner-button{
  padding:10px 15px 10px 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: aqua;
}
.button {
  border-radius: 50%;
}
.banner-text{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding: 10px;
}
/*Banner---*/
/*Header-----*/

/*-----About section-----*/
#about {
  background-color: lightblue;
  max-width: 1200px;
}
.about{
  display: none;
}
.about-nav-option{
  border: 0;
  border-bottom: black 1px solid;;
  padding: 5px;
  background-color: lightblue;
}
.about-nav-option:not(.active):hover{
  background-color: aquamarine;
}
.about-nav-option.active{
  border: black 1px solid;
  border-bottom: 0;
}
.about-nav-title{
  padding: 5px;
  padding-left: 0px;
  border-bottom: black 1px solid;
  font-weight: bold;
}
.about-nav-fill{
  padding: 5px;
  padding-right: 0px;
  border-bottom: black 1px solid;
}
#about-nav{
  grid-auto-flow: column;
  grid-template-columns: repeat(4, max-content) 1fr;
  margin-bottom: 10px;
}
.about{
  display: none;
}
.about.active{
  display: block;
}
/*---Team---*/
#team-container{
  display: flex;
  justify-content: space-between;
}
.member{
  text-align: center;
  flex-basis: 200px;
  min-width: 150px;
  margin: 10px;
  .slideshow-button-prev, .slideshow-button-next{
    display: none;
  }
}
.member-photo{
  background-color: blue;
  height: 150px;
  width: 150px;
}
@media screen and (max-width: 750px){
  #Team{
    #team-container{
      position: relative;
      display: block;
    }
    #team-container > *{
      box-sizing: border-box;
      margin: 0;
    }
    .member{
      position: relative;
      padding: 0;
      border: 0;
      aspect-ratio: 3/2;
      @media screen and (min-width:600px) {
        aspect-ratio: 2/1;
      }
    }
    .member-info{
      position: absolute;
      z-index: 45;
      bottom: 0;
      right: 0;
      left: 0;
    }
    .member-photo{
      background-color: blue;
      width: 100%;
      height: 100%;
    }
    .slideshow-button-prev, .slideshow-button-next{
      display: block;
    }
    .slideshow-slide{
      display: none;
      width: 100%;
    }
    .slideshow-active{
      display: block;
    }
    .slideshow-button-prev{
      top: 50%;
      left:0
    }
    .slideshow-button-next{
      top: 50%;
      right: 0;
    }
  }
}
/*Team---*/
/*---History---*/
#History-img{
  margin: 10px;
  float: right;
  background-color: blue;
  height: 250px;
  width: 200px;
}
/*History---*/
/*---Location---*/
#Location-img{
  margin: 10px;
  float: right;
  background-color: blue;
  height: 300px;
  width: 250px;
}
/*Location---*/
/*About------*/

/*-----Reviews------*/
#reviews{
  background-color: lightblue;
  max-width: 1200px;
  max-height: 700px;
  .slideshow-button-prev, .slideshow-button-next{
    display: none;
  }
}

@media screen and (min-width: 950px){
  #reviews-container{
    justify-content: space-around;
  }
  .review{
    text-align: center;
    flex-basis: 200px;
    min-width: 150px;
    margin: 10px;
  }
  .review-photo{
    background-color: blue;
    height: 150px;
    width: 150px;
    margin: 10px;
  } 
}
@media screen and (min-width: 650px) and (max-width: 950px){
  .review-photo{
    display: none;
  }
  #reviews-container{
    flex-direction: column;
  }
  .review{
    padding: 10px;
    border:0;
  }
  
}
/*---Slideshow---*/
.slideshow-button-prev, .slideshow-button-next{
  display: none;
}

@media screen and (max-width: 650px){
  #reviews{
    .review-photo{
      float:left;
    }
    .slideshow-button-prev, .slideshow-button-next{
      display: block;
    }
    .slideshow-container{
      position: relative;
    }
    .slideshow-slide{
      display: none;
      width: 100%;
    }
    .slideshow-active{
      display: block;
    }
    .slideshow-button-prev{
      top: 50%;
      left:0
    }
    .slideshow-button-next{
      top: 50%;
      right: 0;
    }
  }
}
/*Slideshow---*/
/*Reviews------*/

/*-----Calculator------*/
#calculator {
  background-color: lightblue;
  max-width: 1200px;
  max-height: 650px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
#calculator-options{
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  min-width: 215px;
}
#calculator-options-button{
  width: 100px;
  height: 30px;
  margin: 5px auto;
}
@media screen and (max-width: 650px){
  #calculator-container{
    flex-direction: column;
  }
}
#calculator-graph-container{
  flex-grow: 2;
  flex-shrink: 0;
  min-height: 200px;
  aspect-ratio: 2/1;
}
/*Calculator------*/

/*-----Contacts-----*/
#contacts{
  background-color: lightblue;
  max-width: 1200px;
  max-height: 700px;
}
.soc-network{
  display: inline-block;
  padding: 10px;
}
.soc-network-logo{
  background-color: blue;
  height: 50px;
  width: 50px;
  vertical-align: middle; 
}
#contacts-button{
  height: 50px;
  width: 100px;
  border-radius: 15px;
}
/*Contacts-----*/

/*-----Footer-----*/
footer{
  padding-top: 20px 0;
  background: lightblue;
  min-height: 100px;
}
/*Footer-----*/
